/* FA Style */
html,
body {
	min-height: 100%;
	margin: 0;
	font-family: yekan;
	color: rgb(48, 39, 99);
	background-color: #333;
	direction: rtl;
}

@font-face {
	font-family: yekan;
	src: url("fonts/Yekan.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.enFont {
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
}

.rtl {
	direction: rtl;
}
.ltr {
	direction: ltr;
}

.text-color {
	color: rgb(48, 39, 99);
}
.text-white {
	color: #fff;
}
.icon-color {
	color: rgb(131, 199, 21);
}
.titr-color {
	color: rgb(87, 12, 110);
}
/*ticket*/
.ticket-div {
	hiteidth: 100px;
	height: 50px;
	padding: 5px;
	line-height: 40px;
	position: fixed;
	top: 70%;
	left: -90px;
	background-color: mediumvioletred;
	transition: 500ms;
	z-index: 100;
}
.ticket-div:hover {
	left: 0px;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.pagination {
	direction: ltr;
}

.padding-5 {
	padding: 5px;
}
.padding-10 {
	padding: 10px;
}
.margin-5 {
	margin: 5px;
}
.margin-10 {
	margin: 10px;
}

.border-radius-10 {
	border-radius: 10px;
}
.border-radius-5 {
	border-radius: 5px;
}

.clear-both {
	clear: both;
}

.backicon {
	position: fixed;
	top: 100px;
	left: 0px;
	z-index: 100;
	border: 1px solid white;
	border-left: 0;
	background-color: #1b6d85;
	color: white;
	border-radius: 0 5px 5px 0;
}
.backicon:hover {
	background-color: #66afe9;
}
.backicon a {
	width: 100%;
	height: 100%;
	display: inline-block;
	margin: 5px;
}

.bulletin-item {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
}
.bulletin-item:hover {
	/*background-color: #eee;*/
	font-weight: bold;
	background-color: rgba(200, 200, 200, 0.2);
	/*box-shadow:0px 4px 4px 4px rgba(0,0,0,0.5);*/
	/*-moz-box-shadow:0px 4px 4px 4px rgba(0,0,0,0.5);*/
	/*-webkit-box-shadow:0px 4px 4px 4px rgba(0,0,0,0.5);*/
}

.projectWidgetDiv1 {
	width: 100%;
	height: auto;
	border-radius: 0px;
	display: inline-block;
	padding: 10px;
	background-color: #1b6d85;
}
.projectWidgetDiv1:hover {
	background-color: #114555;
}
.projectWidgetDiv2 {
	width: 100%;
	height: 50px;
	background-color: #2e6da4;
	border-radius: 0 0 10px 10px;
}
.projectWidgetDiv2:hover {
	background-color: #285f8f;
}

.menu-box {
	width: 100px;
	height: 30px;
}
.menu-title {
	display: none;
}
/*.menu-box:hover{width:100px;}*/
.menu-box:hover .menu-icon {
	display: none;
}
.menu-box:hover .menu-title {
	display: block;
}

a:hover {
	text-decoration: none;
}

.bg-cover {
	background-color: #888;
	height: 100%;
	width: 100%;
	margin: 0;
	position: relative;
}

.topic-cover {
	background-color: #888;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 20px;
}

.bg {
	background-color: #eee;
	background-image: url("./../images/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.bg-trans {
	background-color: rgba(0, 0, 0, 0);
}
.bg-menu {
	background-color: rgba(220, 220, 220, 0.7);
	color: #000;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 0px;
}
.bg-wt {
	background-color: rgba(220, 220, 220, 0.7);
	color: #000;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.bg-dt {
	background-color: rgba(50, 50, 50, 0.8);
	color: #eee;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.bg-gradient0 {
	background: radial-gradient(
			circle at 50% 0,
			rgba(80, 30, 70, 0.6),
			rgba(80, 30, 70, 0.1) 50%
		),
		radial-gradient(
			circle at 10% 75%,
			rgba(20, 70, 20, 0.6),
			rgba(20, 70, 20, 0.2) 30%
		),
		radial-gradient(
			circle at 80% 80%,
			rgba(70, 90, 130, 0.6),
			rgba(70, 90, 130, 0.5) 70%
		);
}

.bg-gradient {
	background-color: #555;
	-webkit-overflow-scrolling: auto;
	background-image: url("./../images/bgoverlay.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.login-cover {
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #555;
	overflow: auto;
	-ms-overflow-style: auto;
	-webkit-overflow-scrolling: auto;
	background-image: url("./../images/bgoverlay.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.box-shadow-white {
	box-shadow: 0px 4px 8px 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 4px 8px 4px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 4px 8px 4px rgba(255, 255, 255, 0.5);
}

.box-shadow-dark {
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.box-shadow-dodgerblue {
	box-shadow: 0px 0px 4px 1px dodgerblue;
	-moz-box-shadow: 0px 0px 4px 1px dodgerblue;
	-webkit-box-shadow: 0px 0px 4px 1px dodgerblue;
}

.hover-shadow-dark:hover {
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.hover-shadow-white:hover {
	box-shadow: 0px 0px 4px 4px rgba(220, 220, 220, 0.5);
	-moz-box-shadow: 0px 0px 4px 4px rgba(220, 220, 220, 0.5);
	-webkit-box-shadow: 0px 0px 4px 4px rgba(220, 220, 220, 0.5);
}

.hoverShadow:hover {
	box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.8);
	/* border: 1px solid yellowgreen; */
}

#viewKvTable tbody tr:hover {
	background-color: #9acfea;
}

.selectedRow {
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	color: #0275d8;
	font-weight: bold;
	border: 2px solid #5bc0de;
}

.selectedRowHome {
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	color: #337ab7;
	background-color: #dff0d8 !important;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid #017e31;
}

#user-box {
	position: absolute;
	border-radius: 10px;
	display: none;
	width: 200px;
	height: auto;
	margin: 0;
	padding: 15px;
	background-color: #eee;
	z-index: 100;
	cursor: auto;
}
#user-box-div:hover #user-box {
	display: block;
}

/* overlay navbar*/

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 50px;
	right: 0;
	background-color: #333;
	color: #fff;
	overflow-y: auto;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 10px;
	overflow: auto;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: white;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	z-index: 1000;
}

@media screen and (max-height: 450px) {
	.overlay {
		overflow-y: auto;
	}
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}

	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* sidenav */

.sidenav {
	height: 100%;
	width: 400px;
	position: fixed;
	direction: rtl;
	z-index: 1000;
	top: 50px;
	right: -450px;
	background-color: whitesmoke;
	color: darkslateblue;
	overflow: auto;
	transition: 0.5s;
	padding-top: 5px;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: darkslateblue;
	display: block;
}

.sidenav a:hover {
	color: #000;
}

.sidenav .closebtn {
	text-align: center;
	font-size: 24px;
	color: darkslateblue;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

/* layout */
.layout-wrapper {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: start;
	/*background-color: #FFF;*/
	min-height: 100vh;
	min-width: 100%;
	border-radius: 15px;
	/*overflow: hidden;*/
}
.layout-narrow-panel {
	min-height: 100vh;
	height: 100%;
	width: 200px;
	/*background-color: #e1e1e1;*/
	margin: 0 0 0 5px;
	border-radius: 15px;
	/*overflow: hidden;*/
}
.layout-wide-panel {
	height: 100%;
	min-height: 100vh;
	/*flex-grow: 1;*/
	width: 100%;
	background-color: rgba(100, 100, 100, 0.3);
	border-radius: 15px;
	/*overflow: hidden;*/
}
@media (max-width: 800px) {
	.layout-panel-right {
		width: 80px;
	}
}
.layout-narrow-dim-panel {
	/*background-color: rgba(100,100,100,0.2);*/
	min-height: 100vh;
	height: 100%;
	width: 200px;
	margin: 0 5px 0 0;
	border-radius: 15px;
	overflow: hidden;
}
.layout-wide-dim-panel {
	background-color: rgba(100, 100, 100, 0.3);
	height: 100%;
	min-height: 100vh;
	flex-grow: 1;
	border-radius: 15px;
	overflow: hidden;
}

.setting-sidebar ul {
	list-style-type: none;
	width: 100%;
	direction: ltr;
	padding: 0px;
	margin: 0px;
}
.setting-sidebar > img {
	width: 50%;
	height: auto;
	display: block;
	margin: 10px auto;
}
.setting-sidebar ul li {
	text-align: right;
	padding: 5px;
	margin-top: 5px;
	line-height: 50px;
	width: 100%;
	display: inline-block;
	color: #ddd;
}
.setting-sidebar ul li:hover {
	border-right: 2px solid skyblue;
	color: #fff;
}
.setting-sidebar ul li.active {
	border-right: 5px solid skyblue;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

.setting-sidebar .disappear-text {
	color: #ddd;
}

@media screen and (max-width: 800px) {
	.setting-sidebar {
		width: 50px;
	}
	.disappear-text {
		display: none;
	}
}

/* HOVER */
.hvr-dim {
}
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}
@keyframes hvr-ripple-out {
	100% {
		top: -12px;
		right: -12px;
		bottom: -12px;
		left: -12px;
		opacity: 0;
	}
}
.hvr-ripple-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
}
.hvr-ripple-out:before {
	content: "";
	position: absolute;
	border-bottom: powderblue solid 5px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
	-webkit-animation-name: hvr-ripple-out;
	animation-name: hvr-ripple-out;
}

/* Outline In */
.hvr-outline-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
}
.hvr-outline-in:before {
	pointer-events: none;
	content: "";
	position: absolute;
	border: skyblue solid 2px;
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before,
.hvr-outline-in:focus:before,
.hvr-outline-in:active:before {
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	opacity: 1;
}

/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);

	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	box-shadow: 0 0 4px red;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* Bounce In */
.hvr-bounce-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Bounce Out */
.hvr-bounce-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.hvr-bounce-out:hover,
.hvr-bounce-out:focus,
.hvr-bounce-out:active {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Border Fade */
.hvr-border-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
	/* Hack to improve aliasing on mobile/tablet devices */
	border: 2px solid #019dbe;
}
.hvr-border-fade:hover,
.hvr-border-fade:focus,
.hvr-border-fade:active {
	box-shadow: inset 0 0 0 4px #019dbe, 0 0 1px rgba(0, 0, 0, 0);
	/* Hack to improve aliasing on mobile/tablet devices */
}
/* HOVER END */
